* {
  margin: 0;
  padding: 0;
  user-select: none;
}
button {
  cursor: pointer;
}
body {
  width: 100vw;
  height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  row-gap: 40px;
}

.app-header {
  line-height: 100px;
  text-align: center;
}

.app-body {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 50px;
}
.app-title {
  font-size: 50px;
  text-transform: uppercase;
}
.app-subtitle {
  color: gray;
}

.app-link {
  color: #02025c;
  text-decoration: none;
}

.battlefield {
  position: relative;
  width: 334px;
}

.battlefield-table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
}
.battlefield-item {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.349);
}

.battlefield-item__active {
  background: rgba(123, 121, 255, 0.24);
}

.battlefield-status {
  padding: 20px;
  text-align: center;
}
.ship {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  margin: -3px;
  background: rgba(41, 87, 255, 0.664);
  border: 3px solid #0400ff;

  touch-action: none;
}
.ship-shadow {
  box-shadow: rgb(83, 81, 81) 2px 6px 9px -1px;
}
.ship-row-2 {
  width: 65px;
}

.ship-row-3 {
  width: 98px;
}

.ship-row-4 {
  width: 131px;
}
.ship-column-2 {
  height: 65px;
}

.ship-column-3 {
  height: 98px;
}

.ship-column-4 {
  height: 131px;
}

.app-menu {
  display: flex;
}

.app-actions {
  display: flex;
  justify-content: space-between;

  row-gap: 10px;
}

.actions-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7px;
  padding-top: 10px;
  border: 1px solid rgba(165, 165, 165, 0.294);
  border-radius: 5px;
}
.actions-buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.app-action {
  width: 200px;
  max-width: 220px;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid rgba(117, 117, 117, 0.212);
  border-radius: 3px;
}

.app-action:hover {
  background: rgba(255, 255, 255, 0.2);
}

.shot {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  height: 32px;
  text-align: center;
}

.shot-missed {
  color: gray;
}

.shot-wounded {
  z-index: 1;
  background: #fbdede;
}

.shot-wounded::after {
  content: " ";
  position: absolute;
  top: 9px;
  left: -20px;
  z-index: -1;
  width: calc(32px * 1.3);
  height: calc(32px * 1.3);
  border-top: 2px solid red;
  transform: rotate(45deg);
}

.shot-wounded::before {
  content: " ";
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: -1;
  width: calc(32px * 1.3);
  height: calc(32px * 1.3);
  border-top: 2px solid red;
  transform: rotate(-45deg);
}

.shot-killed {
  margin: -3px;
  border: 3px solid red;
}

.free-cell {
  background-color: #e0ffd2af;
  border-color: #a1ff75fb;
}

.occupied-cell {
  background-color: #ffd6d694;
  border-color: #ff9494;
}

.ship-none-place {
  background-color: #ff696971;
  border-color: #ff6a6a;
}

.hidden {
  display: none;
}
